In [0]:
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [0]:
train=pd.read_csv('/content/Titanic train.csv')

In [3]:
train.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
train.shape

(891, 12)

In [0]:
train.drop(['Cabin'],inplace=True,axis=1)

In [0]:
train.fillna(method='ffill', inplace=True)

In [7]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [0]:
train.drop(['Name','Ticket'],axis=1,inplace=True)

In [9]:
train.head(10)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S
5            6         0       3    male  35.0      0      0   8.4583        Q
6            7         0       1    male  54.0      0      0  51.8625        S
7            8         0       3    male   2.0      3      1  21.0750        S
8            9         1       3  female  27.0      0      2  11.1333        S
9           10         1       2  female  14.0      1      0  30.0708        C

In [10]:
train.Sex.value_counts().head()

male      577
female    314
Name: Sex, dtype: int64

In [11]:
train.Embarked.value_counts().head(50)

S    644
C    169
Q     78
Name: Embarked, dtype: int64

In [0]:
train.replace(to_replace ="male", value =0,inplace=True)
train.replace(to_replace ="female", value =1,inplace=True)

In [0]:
train.replace(to_replace ="S", value =0,inplace=True)
train.replace(to_replace ="C", value =1,inplace=True)
train.replace(to_replace ="Q", value =2,inplace=True)

In [0]:
train["familysize"]=train["SibSp"]+train["Parch"]

In [15]:
train.head(10)

   PassengerId  Survived  Pclass  Sex  ...  Parch     Fare  Embarked  familysize
0            1         0       3    0  ...      0   7.2500         0           1
1            2         1       1    1  ...      0  71.2833         1           1
2            3         1       3    1  ...      0   7.9250         0           0
3            4         1       1    1  ...      0  53.1000         0           1
4            5         0       3    0  ...      0   8.0500         0           0
5            6         0       3    0  ...      0   8.4583         2           0
6            7         0       1    0  ...      0  51.8625         0           0
7            8         0       3    0  ...      1  21.0750         0           4
8            9         1       3    1  ...      2  11.1333         0           2
9           10         1       2    1  ...      0  30.0708         1           1

[10 rows x 10 columns]

In [0]:
train.drop(["SibSp","Parch"],axis=1,inplace=True)

In [17]:
train[['familysize', 'Survived']].groupby(['familysize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   familysize  Survived
3           3  0.724138
2           2  0.578431
1           1  0.552795
6           6  0.333333
0           0  0.303538
4           4  0.200000
5           5  0.136364
7           7  0.000000
8          10  0.000000

In [18]:
train.Fare.astype(int)

0       7
1      71
2       7
3      53
4       8
       ..
886    13
887    30
888    23
889    30
890     7
Name: Fare, Length: 891, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

In [20]:
feature_cols = ['Pclass','Sex','Age','Fare','Embarked','familysize']
X = train[feature_cols] # Features
y = train.Survived # Target variable
X

     Pclass  Sex   Age     Fare  Embarked  familysize
0         3    0  22.0   7.2500         0           1
1         1    1  38.0  71.2833         1           1
2         3    1  26.0   7.9250         0           0
3         1    1  35.0  53.1000         0           1
4         3    0  35.0   8.0500         0           0
..      ...  ...   ...      ...       ...         ...
886       2    0  27.0  13.0000         0           0
887       1    1  19.0  30.0000         0           0
888       3    1  19.0  23.4500         0           3
889       1    0  26.0  30.0000         1           0
890       3    0  32.0   7.7500         2           0

[891 rows x 6 columns]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [23]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(712, 6)
(179, 6)
(712,)
(179,)

Logistic Regression

In [24]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, y_train) * 100, 2)
acc_log

79.92

SVM

In [25]:
svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, y_train) * 100, 2)
acc_svc

68.96

KNN Classifier

In [26]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, y_train) * 100, 2)
acc_knn

82.72

Decision tree

In [27]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, y_train) * 100, 2)
acc_decision_tree

98.74

Random Forest

In [28]:
from sklearn.ensemble import RandomForestRegressor
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(X_train, y_train)
melb_preds = forest_model.predict(X_test)

acc_rf = round(forest_model.score(X_train, y_train) * 100, 2)
acc_rf

89.62

AdaBoost Classifier

In [29]:
from sklearn.ensemble import AdaBoostClassifier
adaboost = AdaBoostClassifier(n_estimators = 100).fit(X_train, y_train)
acc_adaboost=adaboost.score(X_test, y_test)
acc_adaboost

0.7932960893854749